{% extends 'base.html' %}

{% block content %}
<h1>Cryptocurrency Detail</h1>

<b>Name:</b> {{ instance.name }}
<br>
<b>Ticker:</b> {{ instance.ticker }}
<br>
<b>Quote Currency:</b> {{ price_data.0.quoteCurrency }}
<br>
<b>Base Currency:</b> {{ price_data.0.baseCurrency}}
<br>

<a class="btn btn-primary" href="{% url 'pages:crypto-delete' crypto_ticker=instance.crypto_ticker %}" role="button">	DELETE <b>{{ instance.ticker }}</b> from portfolio?
</a>

<hr>
<!-- {{ instance }} -->
<br>
<b>Last Price:</b> ${{ tob_data.lastPrice }}
<br>
<b>Bid Price:</b> ${{ tob_data.bidPrice }}
<br>
<b>Ask Price:</b> ${{ tob_data.askPrice}}
<br>
<br>
<b>Last Size:</b> {{ tob_data.lastSize }}
<br>
<b>Bid Size:</b> {{ tob_data.bidSize }}
<br>
<b>Ask Size:</b> {{ tob_data.askSize }}
<br>
<br>
<b>Last Exchange:</b> {{ tob_data.lastExchange }}
<br>
<b>Bid Exchange:</b> {{ tob_data.bidExchange }}
<br>
<b>Ask Exchange:</b> {{ tob_data.askExchange }}
<br>
<br>
<b>Last Sale Timestamp:</b> {{ tob_data.lastSaleTimestamp }}
<br>
<b>Quote Timestamp:</b> {{ tob_data.quoteTimestamp }}
<!-- {{ tob_data }} -->



<br>

<!-- {{ price_data }} -->



{% endblock %}