{% extends 'base.html' %}

{% block content %}
<div class='row'>
	<div class='col-12'>
		<h1>{{ instance.name }} - ${{ tob_data.lastPrice }}</h1>
		<hr>
	</div>
</div>

<div class='row'>
	<div class='col-8'>
		<b>Name:</b> {{ instance.name }}
		<br>
		<b>Ticker:</b> {{ instance.ticker }}
		<br>
		<b>Quote Currency:</b> {{ price_data.0.quoteCurrency }}
		<br>
		<b>Base Currency:</b> {{ price_data.0.baseCurrency}}
		<br>
	</div>
	<div class='col-4'>
		<a class="btn btn-danger" href="{% url 'pages:crypto-delete' crypto_ticker=instance.crypto_ticker %}" role="button">	DELETE <b>{{ instance.ticker|upper }}</b> from portfolio?
		</a>
	</div>
</div>
<hr>

<div class='row'>
	<div class=col-12>
		<h3>Price Data</h3>
	</div>
</div>

<div class='row mt-3' >
	<div class='col-2'>
		<b>Last Price:</b> 
		<br>
		<b>Bid Price:</b> 
		<br>
		<b>Ask Price:</b>
		<br>
		<br>
		<b>Last Size:</b>
		<br>
		<b>Bid Size:</b>
		<br>
		<b>Ask Size:</b>
		<br>
	</div>
	<div class=col-4>
		${{ tob_data.lastPrice }}
		<br>
		${{ tob_data.bidPrice }}
		<br>
		${{ tob_data.askPrice}}
		<br>
		<br>
		{{ tob_data.lastSize }}
		<br>
		{{ tob_data.bidSize }}
		<br>
		{{ tob_data.askSize }}
	</div>
	<div class='col-3'>
		<b>Last Exchange:</b> 
		<br>
		<b>Bid Exchange:</b>
		<br>
		<b>Ask Exchange:</b>
		<br>
		<br>
		<b>Last Sale Timestamp:</b>
		<br>
		<b>Quote Timestamp:</b>
		<br>
	</div>
	<div class='col-3'>
		{{ tob_data.lastExchange }}
		<br>
		{{ tob_data.bidExchange }}
		<br>
		{{ tob_data.askExchange }}
		<br>
		<br>
		{{ tob_data.lastSaleTimestamp }}
		<br>
		{{ tob_data.quoteTimestamp }}
	</div>
</div>

<!-- {{ price_data }} -->



{% endblock %}