{% extends 'base.html' %}

{% block title %}
	Home
{% endblock title %}

{% block content %}

<h2>JSE News</h2>

{% for item in jse_articles %}

	<h3><a href="{{ item.Link }}" target="_blank" rel="noopener noreferrer">{{ item.Headline }}</a></h3>
	<br> 
	{{item.Text}}
	<!-- <img src ="{{item.Image}}"> -->
{% endfor %}

<hr>
<br>

<h2>Coin Desk News</h2>

{% for item in coindesk_articles %}
	<h3><a href="{{ item.Link }}" target="_blank" rel="noopener noreferrer">{{ item.Headline }}</a></h3>
	<br>
	{{item.Text}}

{% endfor %}

	
{% endblock content %}