{% extends 'base.html' %}

{% block title %}
	Home
{% endblock title %}

{% block content %}

<h1> homepage </h1>

<p>Form for choosing a stock ticker</p>
<br>
<p>Display info for above ticker</p>
<br>
<p>Display News</p>

<h3>Investopedia News:</h3>
<p>{% for k,v in investopidia_articles.items %}
	<a href="{{ v.link }}" target="_blank" rel="noopener noreferrer">{{ v.Headline }}</a><br><br>
{% endfor %}</p>

 	
	<a href="{% url 'login' %}">Log In</a> |
	<a href="{% url 'signup' %}">Sign Up</a>
	
{% endblock content %}