{% extends 'base.html' %}

{% block content %}

<h1>Users Logged In Page</h1>
	
	<!-- Check if user is logged in -->
	{% if user.is_authenticated %}

		<!-- Greet the user -->
		Hi {{ user.username }}!
		<br>
		<!-- Create form for adding a stock to your portfolio -->
		<h4>Add a stock ticker to your portfolio:</h4>
		<form method="post" action ='.'>{% csrf_token %}
			<p>{{ form }} <button type="submit">Add</button></p>	
		</form>

<!-- 		Display error message if stock already exists in users portfilio -->
		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
		    {% endfor %}
		</ul>
		{% endif %}
		
<!-- 		Check if user is subscribed to newsletter and display message -->
		{% if user.subscribed == True %}
			<p>You are <b>Subscribed</b> to our newsletter.</p>
		{% else %}
			<p>You are <b>Not Subscribed</b> to our newsletter.</p>
		{% endif %}
		<hr>

<!-- 		Display users portfolio on screen -->
		<h2>Your portfolio basket:</h2>

<!-- 		Check if portfolio is empty -->
		{% if user.stocks_set.count == 0 %}
			<p>Your basket is empty</p>

<!-- Display stock meta and price data. Can be optomised by not calling the get methods evertime the page loads -->
		{% else %}
			{% for k, v in request.session.meta_data.items %}
				<p><a href="{% url 'pages:stock-detail' ticker=v.ticker%}">{{ k }}</a>: {{ v.name }} -- $ {{ v.high }}</p><br>
			{% endfor %}

			<!-- {% for stock, data in meta.items %}
				<a href="{% url 'pages:stock-detail' ticker=data.ticker%}">{{ stock }}</a> -- {{ data.name }}<br>
			{% endfor %} -->

		{% endif %}
		
		<p><a href="{% url 'logout' %}">Log Out</a></p>

<!-- 	If the user is not logged in display Login / Signup links -->
	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">Log In</a> |
		<a href="{% url 'signup' %}">Sign Up</a>
	{% endif %}

{% endblock %}














