{% extends 'base.html' %}

{% block content %}

<h1>Users Logged In Page</h1>

	{% if user.is_authenticated %}
		Hi {{ user.username }}!
		<br>
		<h4>Add a stock ticker to your portfolio:</h4>
		<form method="post" action ='.'>{% csrf_token %}
			<p>{{ form }} <button type="submit">Add</button></p>	
		</form>

		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
		    {% endfor %}
		</ul>
		{% endif %}
		
		{% if user.subscribed == True %}
			<p>You are <b>Subscribed</b> to our newsletter.</p>
		{% else %}
			<p>You are <b>Not Subscribed</b> to our newsletter.</p>
		{% endif %}
		<hr>

		<h2>Your portfolio basket:</h2>
		{% if user.stocks_set.count == 0 %}
			<p>Your basket is empty</p>
		{% else %}
			{% for stock in stock_list %}
				<a href="{{ stock.get_absolute_url }}">{{ stock.ticker }}</a><br>
			{% endfor %}
		{% endif %}
		
		<p><a href="{% url 'logout' %}">Log Out</a></p>
		<p>{% for stock in stock_list %}
			{{ stock.ticker }}
		{% endfor %}</p>
	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">Log In</a> |
		<a href="{% url 'signup' %}">Sign Up</a>
	{% endif %}

{% endblock %}














