{% extends 'base.html' %}

{% block content %}

<!-- Display stock details -->
<h1>{{ instance.ticker }} - {{ instance.name }} - ${{ instance.high }}</h1>
<!-- Link to confirm delete page for that stock instance --> 
<a class="btn btn-primary" href="{% url 'pages:stock-delete' ticker=instance.ticker %}" role="button">
	DELETE <b>{{ instance.ticker }}</b> from portfolio?
</a>

<hr>

<h3>Description: </h3>
<p>{{ instance.description }}</p>

<h3>Exchange Code: </h3> 
<p>{{ instance.exchangeCode }}</p>

<hr>

<h3>Price Data</h3>

<b>Low:</b> ${{ price_data.low }}
<br>
<br>
<b>High:</b> ${{ price_data.high }}
<br>
<br>
<b>Volume:</b> {{ price_data.volume }}
<br>
<br>

{% endblock %}