{% extends 'base.html' %}

{% block content %}

<div class='row'>
	<div class='col-8'>
		<!-- Display stock details -->
		<h1>{{ instance.ticker|upper }} - {{ instance.name }} - ${{ instance.high }}</h1>
	</div>
	<div class='col-4'>
		<!-- Link to confirm delete page for that stock instance --> 
		<a class="btn btn-danger" href="{% url 'pages:stock-delete' ticker=instance.ticker %}" role="button">
			DELETE <b>{{ instance.ticker|upper }}</b> from portfolio?
		</a>
	</div>
</div>

<hr>

<div class='row'>
	<div class='col-12'>
		<h3>Description: </h3>
		<p>{{ instance.description }}</p>
		<hr>
	</div>
</div>

<div class='row'>
	<div class='col-6 mt-3'>
		<h3>Price Data:</h3>
		<br>
		<b>Low:</b> ${{ price_data.low }}
		<br>
		<br>
		<b>High:</b> ${{ price_data.high }}
		<br>
		<br>
		<b>Volume:</b> {{ price_data.volume }}
	</div>
	<div class='col-6 mt-3'>
		<h3>Exchange Code: </h3>
		<br>
		<p>{{ instance.exchangeCode }}</p>
		<br>
	</div>
</div>

{% endblock %}